<div class="container-fluid" style="padding:0;padding-bottom: 20px;">
    <section class="slider-main">
        <div class="slider-main__wrap">
            <div class="slider-main__stage">
                <ul class="owl-carousel owl-theme main-carousel">
                    <li class="item">
                        <a href="" class="slider-main__link">
                            <img src="/assets/image/slide_index_1.jpg" width="" alt="" class="slider-main__img">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="slider-main__link">
                            <img src="/assets/image/slide_index_2.jpg" alt="" class="slider-main__img">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="slider-main__link">
                            <img src="/assets/image/slide_index_3.jpg" alt="" class="slider-main__img">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="slider-main__link">
                            <img src="/assets/image/slide_index_4.jpg" alt="" class="slider-main__img">
                        </a>
                    </li>
                    <li class="">
                        <a href="" class="slider-main__link">
                            <img src="/assets/image/slide_index_1.jpg" alt="" class="slider-main__img">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <div class="group-index">
  <div class=" grid wide">
        <div class="row">
            <div class="col-xs-12" style="width:100%">
                <div class="slide-title">
                    <h3 class="slide-title__heading">MÀU NƯỚC CÁC LOẠI</h3>
                    <div class="slide-title__viewall">
                        <a href="/collections/màu nước" class="slide-title__viewall-link">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0 33px;">
            <div class="col-lg-2 hidden-md hidden-sm hidden xs slide-banner" style="max-width:20%; flex: 0 0 20%">
                <div class="slide-banner__wrap">
                    <a href="" class="slide-banner__link">
                        <img src="/assets/image/banner_index_1.webp" alt="" class="slide-banner__img">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-xs-12 slide-product" style="max-width:80%; flex: 0 0 80%">
                <div class="slide-product__wrap">
                    <div class="slide-product__information">
                        <div class="slide-product__stage">
                            <div class="slide-product__list slideMauNuoc owl-carousel owl-theme product-carousel">
                                <!-- <div class="slide-product__item">
                                  <a href="" class="slide-product__link">
                                      <img src="/assets/image/wb5049_isoindolinone_yellow_deep_e03b2f101f3e4da7a66bf441ffd93227_medium.webp" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">68,000₫</span>
                                          <span class="slide-product__price--old">89,000₫</span>
                                      </p>
                                  </div>
                                </div>
                              <div class="slide-product__item">
                                  <a href="" class="slide-product__link">
                                      <img src="/assets/image/wb5070_cadmium_green_deep_fc720dbd30c24ac4bd36f565f387af69_medium.webp" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">68,000₫</span>
                                          <span class="slide-product__price--old">89,000₫</span>
                                      </p>
                                  </div>
                                </div>
                              <div class="slide-product__item">
                                  <a href="" class="slide-product__link">
                                      <img src="/assets/image/wb5074_olive_green_d101ed1a64df497781883fec73626140_medium.webp" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">68,000₫</span>
                                          <span class="slide-product__price--old">89,000₫</span>
                                      </p>
                                  </div>
                                </div>
                              <div class="slide-product__item">
                                  <a href="" class="slide-product__link">
                                      <img src="/assets/image/wb5133__burnt_umber_fa8590c49f3742609565e2547d25398b_medium.webp" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">68,000₫</span>
                                          <span class="slide-product__price--old">89,000₫</span>
                                      </p>
                                  </div>
                                </div> -->

                            </div>
                            <!-- <div class="slide-product__controls">
                                <div class="slide-product__prev">
                                    <i class="ti-angle-left slide-product__controls-icon"></i>
                                </div>
                                <div class="slide-product__next">
                                    <i class="ti-angle-right slide-product__controls-icon"></i>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row">
            <div class="col-xs-12" style="width:100%">
                <div class="slide-title">
                    <h3 class="slide-title__heading">SỔ / GIẤY VẼ</h3>
                    <div class="slide-title__viewall">
                        <a href="/collections/sổ giấy" class="slide-title__viewall-link">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0 33px;">
            <div class="col-lg-10 col-xs-12 slide-product" style="max-width:80%; flex: 0 0 80%">
                <div class="slide-product__wrap">
                    <div class="slide-product__information">
                        <div class="slide-product__stage">
                            <div id="slideSoGiay" class="slide-product__list  owl-carousel owl-theme product-carousel">

                            </div>
                        </div>
                        <!-- <div class="slide-product__controls">
                          <div class="slide-product__prev">
                              <i class="ti-angle-left slide-product__controls-icon"></i>
                          </div>
                          <div class="slide-product__next">
                              <i class="ti-angle-right slide-product__controls-icon"></i>
                          </div>
                      </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 hidden-md hidden-sm hidden xs slide-banner"
                style="max-width:20%; flex: 0 0 20%; padding-left: 0;">
                <div class="slide-banner__wrap">
                    <a href="" class="slide-banner__link">
                        <img src="/assets/image/banner_index_1.webp" alt="" class="slide-banner__img">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row">
            <div class="col-xs-12" style="width:100%">
                <div class="slide-title">
                    <h3 class="slide-title__heading">PHỤ KIỆN MỸ THUẬT - KIẾN TRÚC</h3>
                    <div class="slide-title__viewall">
                        <a href="/collections/phụ kiện" class="slide-title__viewall-link">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0 33px;">
            <div class="col-lg-2 hidden-md hidden-sm hidden xs slide-banner" style="max-width:20%; flex: 0 0 20%">
                <div class="slide-banner__wrap">
                    <a href="" class="slide-banner__link">
                        <img src="/assets/image/banner_index_1.webp" alt="" class="slide-banner__img">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-xs-12 slide-product" style="max-width:80%; flex: 0 0 80%">
                <div class="slide-product__wrap">
                    <div class="slide-product__information">
                        <div class="slide-product__stage">
                            <div id="slidePhuKien" class="slide-product__list owl-carousel owl-theme product-carousel">
                                <!-- <div class="slide-product__item">
                                    <a href="" class="slide-product__link">
                                        <img src="/assets/image/wb5049_isoindolinone_yellow_deep_e03b2f101f3e4da7a66bf441ffd93227_medium.webp"
                                            alt="" class="slide-product__img">
                                    </a>
                                    <div class="slide-product__detail">
                                        <a href="" class="slide-product__heading-link">
                                            <h2 class="slide-product__heading"
                                                title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                                Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                            </h2>
                                        </a>
                                        <p class="slide-product__price">
                                            <span class="slide-product__price--new">68,000₫</span>
                                            <span class="slide-product__price--old">89,000₫</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="slide-product__item">
                                    <a href="" class="slide-product__link">
                                        <img src="/assets/image/wb5070_cadmium_green_deep_fc720dbd30c24ac4bd36f565f387af69_medium.webp"
                                            alt="" class="slide-product__img">
                                    </a>
                                    <div class="slide-product__detail">
                                        <a href="" class="slide-product__heading-link">
                                            <h2 class="slide-product__heading"
                                                title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                                Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                            </h2>
                                        </a>
                                        <p class="slide-product__price">
                                            <span class="slide-product__price--new">68,000₫</span>
                                            <span class="slide-product__price--old">89,000₫</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="slide-product__item">
                                    <a href="" class="slide-product__link">
                                        <img src="/assets/image/wb5074_olive_green_d101ed1a64df497781883fec73626140_medium.webp"
                                            alt="" class="slide-product__img">
                                    </a>
                                    <div class="slide-product__detail">
                                        <a href="" class="slide-product__heading-link">
                                            <h2 class="slide-product__heading"
                                                title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                                Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                            </h2>
                                        </a>
                                        <p class="slide-product__price">
                                            <span class="slide-product__price--new">68,000₫</span>
                                            <span class="slide-product__price--old">89,000₫</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="slide-product__item">
                                    <a href="" class="slide-product__link">
                                        <img src="/assets/image/wb5133__burnt_umber_fa8590c49f3742609565e2547d25398b_medium.webp"
                                            alt="" class="slide-product__img">
                                    </a>
                                    <div class="slide-product__detail">
                                        <a href="" class="slide-product__heading-link">
                                            <h2 class="slide-product__heading"
                                                title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                                Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C
                                            </h2>
                                        </a>
                                        <p class="slide-product__price">
                                            <span class="slide-product__price--new">68,000₫</span>
                                            <span class="slide-product__price--old">89,000₫</span>
                                        </p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="slide-product__controls">
                          <div class="slide-product__prev">
                              <i class="ti-angle-left slide-product__controls-icon"></i>
                          </div>
                          <div class="slide-product__next">
                              <i class="ti-angle-right slide-product__controls-icon"></i>
                          </div>
                      </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
</div>
<script>
    const  numberWithCommas = (number)=>{
            return number.toString().replace(
                /\B(?=(\d{3})+(?!\d))/g,
                ","
            );
        }
    $(document).ready(function () {
        //Load first product slider
        $.ajax({
            url: '/products/getAllProductByType/màu nước?size=4',
            method: 'GET',
            contentType: 'application-json',
            success: function (response) {
                let products = JSON.parse(JSON.stringify(response));
                console.log(products);
                products.product.forEach((item) => {
                    var price = numberWithCommas(parseInt(item.price));
                    $(".slideMauNuoc").append(`
                                <div class="slide-product__item">
                                  <a href="/products/${item.productCode}" class="slide-product__link">
                                      <img src="${item.images[0]}" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="/products/${item.productCode}" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              ${item.name}
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">`+price+`₫</span>
                                      </p>
                                  </div>
                                </div>`)
                })
                const prevIcon = "<i class='ti-angle-left slider-product__prev slide-product__controls-icon'></i>";
                const nextIcon = "<i class='ti-angle-right slider-product__prev slide-product__controls-icon'></i>";
                $(".slideMauNuoc").owlCarousel({
                    loop: true,
                    margin: 0,
                    autoplay: true,
                    autoWidth: true,
                    autoplayTimeout: 2500,
                    autoplayHoverPause: true,
                    nav:true,
                    dots: false,
                    navText: [prevIcon, nextIcon]
                });

             
            }
        })
        $.ajax({
            url: '/products/getAllProductByGroup/sổ giấy?size=4',
            method: 'GET',
            contentType: 'application-json',
            success: function (response) {
                let products = JSON.parse(JSON.stringify(response));
                console.log(products);
                products.product.forEach((item) => {
                    var price = numberWithCommas(parseInt(item.price));
                    $("#slideSoGiay").append(`
                                <div class="slide-product__item">
                                  <a href="/products/${item.productCode}" class="slide-product__link">
                                      <img src="${item.images[0]}" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="/products/${item.productCode}" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              ${item.name}
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">`+price+`₫</span>
                                      </p>
                                  </div>
                                </div>`)
                })
                const prevIcon = "<i class='ti-angle-left slider-product__prev slide-product__controls-icon'></i>";
                const nextIcon = "<i class='ti-angle-right slider-product__prev slide-product__controls-icon'></i>";
                $("#slideSoGiay").owlCarousel({
                    loop: true,
                    margin: 0,
                    autoplay: true,
                    autoWidth: true,
                    autoplayTimeout: 2500,
                    autoplayHoverPause: true,
                    nav:true,
                    dots:false,
                    navText: [prevIcon, nextIcon]
                });
            }
        })
        $.ajax({
            url: '/products/getAllProductByGroup/phụ kiện?size=4',
            method: 'GET',
            contentType: 'application-json',
            success: function (response) {
                let products = JSON.parse(JSON.stringify(response));
                console.log(products);
                products.product.forEach((item) => {
                    var price = numberWithCommas(parseInt(item.price));
                    $("#slidePhuKien").append(`
                                <div class="slide-product__item">
                                  <a href="/products/${item.productCode}" class="slide-product__link">
                                      <img src="${item.images[0]}" alt="" class="slide-product__img">
                                  </a>
                                  <div class="slide-product__detail">
                                      <a href="/products/${item.productCode}" class="slide-product__heading-link">
                                          <h2 class="slide-product__heading" title="Màu Nước Holbein Artist 5ml : ISOINDOLINONE YELLOW DEEP W049 - C">
                                              ${item.name}
                                          </h2>
                                      </a>
                                      <p class="slide-product__price">
                                          <span class="slide-product__price--new">`+price+`₫</span>
                                      </p>
                                  </div>
                                </div>`)
                })
                const prevIcon = "<i class='ti-angle-left slider-product__prev slide-product__controls-icon'></i>";
                const nextIcon = "<i class='ti-angle-right slider-product__prev slide-product__controls-icon'></i>";
                $("#slidePhuKien").owlCarousel({
                    loop: true,
                    margin: 0,
                    autoplay: true,
                    autoWidth: true,
                    autoplayTimeout: 2500,
                    autoplayHoverPause: true,
                    nav:true,
                    dots:false,
                    navText: [prevIcon, nextIcon]
                });
            }
        })
        $(".main-carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 0,
            autoplay: true,
            autoplayTimeout: 2500,
            autoplayHoverPause: true,
            navigation: true
        })


    });


</script>