<div class="container" style="height:400px;">
    <div class="row">
        <div class="grid wide row one-line">
            <div class="col-xs-12">
                <h1 class="shopping-guide__heading">DÀNH CHO NHÀ CUNG CẤP </h1>
            </div>
        </div>
        <div class="grid wide row">
            <div class="col-xs-12">
                <p class="publish__article">Các nhà cung cấp vui lòng gửi báo giá, 
                    cataloge và thông tin sản phẩm muốn hợp tác phân phối với Họa Cụ DA ĐEN, theo các cách thức sau :
                </p>
                <p class="publish__article">
                    - Gửi về địa chỉ email : hoacudaden@gmail.com
                </p>
                <p class="publish__article">
                    - Đến trực tiếp địa chỉ : 351/5A An Dương Vương, Phường 10, Quận 6, Hồ Chí Minh
                </p>
                <p class="publish__article">
                    - Hotline : 0909738828 ( gặp Lợi )
                </p>
            </div>
        </div> 
    </div>
</div>