<div class="bread-crumb-background">
    <div class="container">
     <div class="row">
         <div class="row">
             <div class="col-12">
                 <ul class="bread-crumb">
                     <li class="bread-crumb-item">
                         <a href="/" class="bread-crumb-heading">
                             Trang Chủ
                         </a>
                     </li>
                     <li class="bread-crumb-item">
                         <i class="ti-angle-right"></i>
                         Hướng dẫn mua hàng
                     </li>
                   
                 </ul>
             </div>
         </div>
     </div>
    </div>
 </div>
<div class="grid wide row one-line">
    <div class="row">
        <div class="col-xs-12 col-lg-12">
            <h3 class="shopping-guide__heading" style="padding:10px 10px;">HƯỚNG DẪN MUA HÀNG ONLINE </h3>
        </div>
    </div>
</div>
<div class="grid wide row one-line">
    <div class="col-md-6 col-xs-12">
        <div class="contact-left">
            <div class="contact-left__title">
                <i class="ti-email contact-left__title-icon"></i>
                <span class="contact-left__title-heading">
                    Để lại lời nhắn cho chúng tôi
                </span>
            </div>
            <form action="" class="contact-form" method="">
                <div class="form-contact">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-contact__input">
                                <span class="form-contact__input-addon">
                                    <i class="ti-user form-contact__input-icon"></i>
                                </span>
                                <input type="text" class="form-contact__text form-control" placeholder="Họ và tên">
                            </div>
                            <div class="form-contact__input">
                                <span class="form-contact__input-addon">
                                    <i class="ti-email form-contact__input-icon"></i>
                                </span>
                                <input type="email" class="form-contact__text form-control" placeholder="Email đầy đủ">
                            </div>
                            <div class="form-contact__input" style="margin:0">
                                <span class="form-contact__input-addon">
                                    <i class="ti-headphone form-contact__input-icon"></i>
                                </span>
                                <input type="tel" class="form-contact__text form-control" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-contact__input form-textarea">
                                <textarea type="text" class="form-contact__textarea form-control" placeholder="Viết lời nhắn"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 contact-btn__control">
                            <button class="btn contact-btn">
                                GỬI LỜI NHẮN
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="contact-right">
            <div class="contact-right__title">
                <span class="contact-right__title-heading">
                    Họa cụ và Văn phòng phẩm DA ĐEN
                </span>
            </div>
            <div class="contact-right__address">
                <i class="contact-right__icon ti-calendar"></i>
                <span>Da Đen Art and Stationery - Giấy phép ĐKKD : 41F8026243</span>
            </div>
            <div class="contact-right__address">
                <i class="contact-right__icon ti-headphone"></i>
                <span>0909738828</span>
            </div>
            <div class="contact-right__address">
                <i class="contact-right__icon ti-location-pin"></i>
                <span>351/5A An Dương Vương, Phường 10, Quận 6, Hồ Chí Minh</span>
            </div>
            <div class="contact-right__address">
                <i class="contact-right__icon ti-email"></i>
                <span>hoacudaden@gmail.com</span>
            </div>
        </div>
    </div>
</div>